// ### Primary

$darkCyan: hsl(185, 75%, 39%);
$veryDark: hsl(229, 23%, 23%);
$darkGrayish: hsl(227, 10%, 46%);

// ### Neutral

$darkGray: hsl(0, 0%, 59%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $darkCyan;
}

.main{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    .card{
        width: 350px;
        height: 380px;
            .card-bg{
            height: 40%;
                img{
                border-radius: 10px 10px 0 0;
                height: 100%;
                width: 100%;
                }
        }
                .avatar img{
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 4px solid #fff;
        }
            .content{
                background: #fff;
                height: 70%;
                border-radius: 0 0 10px 10px;
                    .abt_avatar{
                        border-bottom: 0.3px solid $darkGray;
                        padding-bottom: 30px;
                            .hero{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            padding-top: 70px;
                            font-size: 18px;
                            color: $veryDark;
                            font-weight: 700;
                                .age{
                                    padding-left: 10px;
                                    color: $darkGrayish;
                                    font-weight: 400;
                                }
                            }
                                .ci{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding-top: 10px;
                                        .city{
                                            font-weight: 400;
                                            color: $darkGray;
                                        }
                                    }
                    }
            }
                .footer{
                    display: flex;
                    margin: 35px 30px;
                    justify-content: space-between;
                    align-items: center;
                        .avatar_stats{
                        text-align: center;
                            .values{
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: $veryDark;
                                    padding-bottom: 5px;
                                    display: inline-block;
                            }
                            .stats{
                                font-size: 15px;
                                font-weight: 400;
                                color: $darkGray;
                            }
                        }
                }
    }
}
@media screen and (min-width: 200px){
         .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            // padding: 0 15px;
            background: url(images/bg-pattern-top.svg),  url(images/bg-pattern-bottom.svg); 
            background-repeat: no-repeat;
            background-position: right 30vw bottom 45vh, left 40vw top 50vh;
            background-size: cover;
        }   
}
@media screen and (min-width: 767px) {
        .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            // height: 100vh;
            padding: 0 15px;
            background: url(images/bg-pattern-top.svg),  url(images/bg-pattern-bottom.svg); 
            background-repeat: no-repeat;
            background-position: right 30vw bottom 45vh, left 40vw top 50vh;
            background-size: cover;
        }
}